<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiziyun.zhiying.base.api.dao.mapper.PlatformApiErrorMsgMapper">
    <resultMap type="com.zhiziyun.zhiying.base.api.bean.PlatformApiErrorMsg" id="BaseResultMap">
        <result column="id" property="id"/>
        <result column="is_valid" property="valid"/>
        <result column="is_deleted" property="deleted"/>
        <result column="ctime" property="ctime"/>
        <result column="utime" property="utime"/>
        <result property="apiCode" column="apiCode"/>
        <result property="apiMsg" column="apiMsg"/>
        <result property="platform" column="platform"/>
        <result property="zzyMsg" column="zzyMsg"/>
        <result property="lastReadTime" column="lastReadTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, is_valid, is_deleted, ctime, utime, apiCode, apiMsg, platform, zzyMsg, lastReadTime
        <!-- , zzyMsgTemplate -->
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            1 = 1
            <if test="id != null">and id = #{id}</if>
            <if test="valid != null">and is_valid = #{valid}</if>
            <if test="deleted != null">and is_deleted = #{deleted}</if>
            <if test="apiCode != null">AND apiCode=#{apiCode}</if>
            <if test="platform != null">AND platform=#{platform}</if>
            <if test="apiMsg != null">AND apiMsg=#{apiMsg}</if>
			<if test="likeApiMsg != null"> AND apiMsg LIKE CONCAT('%',#{likeApiMsg},'%')</if>
            <if test="zzyMsg != null">AND zzyMsg=#{zzyMsg}</if>
        </where>
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            platform_api_error_msg (ctime, utime, apiCode, apiMsg, platform, zzyMsg, lastReadTime)
        VALUES (now(), now(), #{apiCode}, #{apiMsg}, #{platform}, #{zzyMsg}, now())
    </insert>

    <update id="update" parameterType="com.zhiziyun.zhiying.base.api.bean.PlatformApiErrorMsg">
        UPDATE platform_api_error_msg
        SET
            updateTime = now(),
            apiCode    = #{apiCode},
            apiMsg     = #{apiMsg},
            platform   = #{platform},
            zzyMsg     = #{zzyMsg},
            WHERE id = #{id}
    </update>

    <update id="updateBySelective" parameterType="com.zhiziyun.zhiying.base.api.bean.PlatformApiErrorMsg">
        update platform_api_error_msg set
        updateTime = now()
        <if test="apiCode != null">,apiCode = #{apiCode}</if>
        <if test="apiMsg != null">,apiMsg = #{apiMsg}</if>
        <if test="platform != null">,platform=#{platform}</if>
        <if test="zzyMsg != null">,zzyMsg=#{zzyMsg}</if>
        <if test="lastReadTime != null">,lastReadTime=#{lastReadTime}</if>
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM platform_api_error_msg
        WHERE
            id = #{id}
    </delete>

    <select id="queryById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from platform_api_error_msg where id=#{id}
    </select>

    <select id="queryByList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from platform_api_error_msg
        <include refid="Base_Where_Clause"/>
        <if test="pager.mySQLOrderCondition != null and pager.mySQLOrderCondition != ''">
            ${pager.mySQLOrderCondition}
        </if>
        <if test="pager.mySQLQueryCondition != null and pager.mySQLQueryCondition != ''">
            ${pager.mySQLQueryCondition}
        </if>
    </select>

    <select id="queryByCount" resultType="java.lang.Integer">
        select count(1)
        from platform_api_error_msg
        <include refid="Base_Where_Clause"/>
    </select>
</mapper>
